Providers/GenericRdbms/Src/UnitTest/apply_no_meta_test1_master.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fdo="http://fdo.osgeo.org/schemas" xmlns:gml="http://www.opengis.net/gml" xmlns:dbo="http://fdo.osgeo.org/schemas/feature/dbo" targetNamespace="http://fdo.osgeo.org/schemas/feature/dbo" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:element name="-x31--8-x20-School" type="dbo:-x31--8-x20-SchoolType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="-x31--8-x20-SchoolKey">
<xs:selector xpath=".//-x31--8-x20-School"/>
<xs:field xpath="FeatureId"/>
</xs:key>
<xs:unique name="-x31--8-x20-SchoolKey_0">
<xs:selector xpath=".//-x31--8-x20-School"/>
<xs:field xpath="-x25--x20-Occupied"/>
<xs:field xpath="FeatureId"/>
</xs:unique>
</xs:element>
<xs:element name="AcDb3dPolyline" type="dbo:AcDb3dPolylineType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="AcDb3dPolylineKey">
<xs:selector xpath=".//AcDb3dPolyline"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="AcDbEntity" type="dbo:AcDbEntityType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="AcDbEntityKey">
<xs:selector xpath=".//AcDbEntity"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="AcDbHatch" type="dbo:AcDbHatchType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="AcDbHatchKey">
<xs:selector xpath=".//AcDbHatch"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Build-x27-g" type="dbo:Build-x27-gType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="Build-x27-gKey">
<xs:selector xpath=".//Build-x27-g"/>
<xs:field xpath="FeatureId"/>
</xs:key>
<xs:unique name="Build-x27-gKey_0">
<xs:selector xpath=".//Build-x27-g"/>
<xs:field xpath="-x25--x20-Occupied"/>
<xs:field xpath="FeatureId"/>
</xs:unique>
</xs:element>
<xs:element name="Conductor" type="dbo:ConductorType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="ConductorKey">
<xs:selector xpath=".//Conductor"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="County" type="dbo:CountyType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="CountyKey">
<xs:selector xpath=".//County"/>
<xs:field xpath="FeatureId"/>
</xs:key>
</xs:element>
<xs:element name="Customer" type="dbo:CustomerType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="CustomerKey">
<xs:selector xpath=".//Customer"/>
<xs:field xpath="First-x20-Name"/>
<xs:field xpath="Last-x20-Name"/>
</xs:key>
</xs:element>
<xs:element name="Customer-x20---x20-Business" type="dbo:Customer-x20---x20-BusinessType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="Customer-x20---x20-BusinessKey">
<xs:selector xpath=".//Customer-x20---x20-Business"/>
<xs:field xpath="First-x20-Name"/>
<xs:field xpath="Last-x20-Name"/>
</xs:key>
</xs:element>
<xs:element name="Customer-x20---x20-Residential" type="dbo:Customer-x20---x20-ResidentialType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="Customer-x20---x20-ResidentialKey">
<xs:selector xpath=".//Customer-x20---x20-Residential"/>
<xs:field xpath="First-x20-Name"/>
<xs:field xpath="Last-x20-Name"/>
</xs:key>
</xs:element>
<xs:element name="Driveway" type="dbo:DrivewayType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="DrivewayKey">
<xs:selector xpath=".//Driveway"/>
<xs:field xpath="FeatureId"/>
</xs:key>
</xs:element>
<xs:element name="ElectricDevice" type="dbo:ElectricDeviceType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="ElectricDeviceKey">
<xs:selector xpath=".//ElectricDevice"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Entity" type="dbo:EntityType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="EntityKey">
<xs:selector xpath=".//Entity"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Parcel" type="dbo:ParcelType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="ParcelKey">
<xs:selector xpath=".//Parcel"/>
<xs:field xpath="Province"/>
<xs:field xpath="PIN"/>
</xs:key>
</xs:element>
<xs:element name="Pole" type="dbo:PoleType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="PoleKey">
<xs:selector xpath=".//Pole"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Polyline" type="dbo:PolylineType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="PolylineKey">
<xs:selector xpath=".//Polyline"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Threeグケãäplusãplusケãグä" type="dbo:ThreeグケãäplusãplusケãグäType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="ThreeグケãäplusãplusケãグäKey">
<xs:selector xpath=".//Threeグケãäplusãplusケãグä"/>
<xs:field xpath="Threeグケãäplusケãグäplusã"/>
</xs:key>
</xs:element>
<xs:element name="Township" type="dbo:TownshipType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="TownshipKey">
<xs:selector xpath=".//Township"/>
<xs:field xpath="FeatureId"/>
</xs:key>
</xs:element>
<xs:element name="Transformer" type="dbo:TransformerType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="TransformerKey">
<xs:selector xpath=".//Transformer"/>
<xs:field xpath="FeatId"/>
</xs:key>
</xs:element>
<xs:element name="Zoning" type="dbo:ZoningType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="ZoningKey">
<xs:selector xpath=".//Zoning"/>
<xs:field xpath="ByLaw"/>
<xs:field xpath="PolyNum"/>
<xs:field xpath="Authority"/>
</xs:key>
<xs:unique name="ZoningKey_0">
<xs:selector xpath=".//Zoning"/>
<xs:field xpath="PolyNum"/>
</xs:unique>
</xs:element>
<xs:element name="äグケã" type="dbo:äグケãType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="äグケãKey">
<xs:selector xpath=".//äグケã"/>
<xs:field xpath="Oneグケãä"/>
<xs:field xpath="Twoグケãäplusäãケグterm"/>
</xs:key>
</xs:element>
<xs:element name="グケãä" type="dbo:グケãäType" abstract="false" substitutionGroup="gml:_Feature">
<xs:key name="グケãäKey">
<xs:selector xpath=".//グケãä"/>
<xs:field xpath="Oneグケãä"/>
<xs:field xpath="Twoグケãäplusäãケグterm"/>
</xs:key>
</xs:element>
<xs:complexType name="-x31--8-x20-SchoolType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="-x23--x20-Occupied" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:int16"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="-x23--x20-Rooms" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:int16"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="-x25--x20-Occupied" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatureId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="classname" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AcDb3dPolylineType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Closed" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="ColourIndex" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Layer" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Width">
<xs:simpleType>
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AcDbEntityType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="ColourIndex" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Layer" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Plot-x20-Style" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AcDbHatchType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="ColourIndex" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Layer" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Build-x27-gType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="-x23--x20-Rooms" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:int16"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="-x25--x20-Occupied" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatureId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="classname" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ConductorType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="InstallDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastInspectDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastRepairDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="underground">
<xs:simpleType>
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CountyType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatureId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LabelPoint" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Customer-x20---x20-BusinessType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Credit-x20-Rating" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="First-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Last-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Customer-x20---x20-ResidentialType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Credit-x20-Rating" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="First-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Last-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Credit-x20-Rating" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="First-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Last-x20-Name">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DrivewayType" abstract="false" fdo:hasGeometry="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatureId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry-x27-" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LabelPoint" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Pav-x27-d">
<xs:simpleType>
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ElectricDeviceType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="InstallDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastInspectDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastRepairDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="EntityType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="ColourIndex" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatId">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Layer" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Plot-x20-Style" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ParcelType" abstract="false" fdo:geometryName="Grading">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="Grading" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="PIN">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Province">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Value" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="8"/>
<xs:fractionDigits value=""/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PoleType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Height">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PolylineType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Closed">
<xs:simpleType>
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="ColourIndex" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:byte"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="FeatId">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Layer" minOccurs="0">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Width">
<xs:simpleType>
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ThreeグケãäplusãplusケãグäType" abstract="false" fdo:geometryName="グケ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="Oneグケ" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Threeグケãäplusケãグäplusã" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="グケ" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="グケãä-x27--x23-term">
<xs:simpleType>
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TownshipType" abstract="false" fdo:geometryName="LabelPoint">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatureId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LabelPoint" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TransformerType" abstract="false" fdo:geometryName="Geometry">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="gml:AbstractFeatureType">
<xs:sequence>
<xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="false" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="InstallDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastInspectDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="LastRepairDate" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="PartNum" minOccurs="0">
<xs:simpleType>
<xs:restriction base="fdo:int16"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Phase">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="SerialNum">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Temperature" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="Voltage">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="10"/>
<xs:fractionDigits value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Volume">
<xs:simpleType>
<xs:restriction base="xs:float"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ZoningType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Authority">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ByLaw">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="PolyNum" fdo:readOnly="true" fdo:autogenerated="true">
<xs:simpleType>
<xs:restriction base="fdo:int64"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
<xs:element name="ZoningType">
<xs:simpleType>
<xs:restriction base="fdo:int32"/>
</xs:simpleType>
<xs:annotation>
<xs:documentation/>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="äグケãType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Oneグケãä">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Twoグケãäplusäãケグterm">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="グケãäType" abstract="false">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:complexContent>
<xs:extension base="fdo:ClassType">
<xs:sequence>
<xs:element name="Oneグケãä">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Twoグケãäplusäãケグterm">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Twoケグãäplus_ケãグä__term">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Twoケグãäplusäãケグterm">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
