3.8/Providers/SQLite/Src/UnitTest/SchPKTest.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fdo.osgeo.org/schemas/feature/Default" xmlns:fdo="http://fdo.osgeo.org/schemas" xmlns:gml="http://www.opengis.net/gml" xmlns:Default="http://fdo.osgeo.org/schemas/feature/Default" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation/>
        <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
    </xs:annotation>
    <xs:element name="TestCompPK" type="Default:TestCompPKType" abstract="false" substitutionGroup="gml:_Feature">
        <xs:key name="TestCompPKKey">
            <xs:selector xpath=".//TestCompPK"/>
            <xs:field xpath="FeatId"/>
            <xs:field xpath="Name"/>
        </xs:key>
    </xs:element>
    <xs:complexType name="TestCompPKType" abstract="false" fdo:geometryName="Geometry">
        <xs:annotation>
            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId">
                        <xs:simpleType>
                            <xs:restriction base="fdo:int64"/>
                        </xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Name">
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PropDT" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:dateTime"/>
                        </xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="true" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="TestNoPK" type="Default:TestNoPKType" abstract="false" substitutionGroup="gml:_Feature">
    </xs:element>
    <xs:complexType name="TestNoPKType" abstract="false" fdo:geometryName="Geometry">
        <xs:annotation>
            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId">
                        <xs:simpleType>
                            <xs:restriction base="fdo:int64"/>
                        </xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Name">
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PropDT" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:dateTime"/>
                        </xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="true" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="point curve surface " fdo:geometryTypes="point multipoint linestring multilinestring curvestring multicurvestring polygon multipolygon curvepolygon multicurvepolygon ">
                        <xs:annotation>
                            <xs:appinfo source="http://fdo.osgeo.org/schemas"/>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>